body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

/* main stules */
.main {
    display: flex;
    flex-direction: row-reverse;

    width: 1200px;
    margin: 0 auto;
}

/* main_content styles */
.main_content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 90px;
}

.language {
    display: flex;
    justify-content: end;

    a {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

}

/* about styls */
.about {
    margin-bottom: 40px;
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 17px;
    color: #999999;
    margin-bottom: 20px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 10px;
}

.about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 600px;
}

/* prodjects styls */
.prodjects {
    margin-bottom: 20px;
}

.work {}

.work_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 10px;

}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0;
    margin-left: 15px;
}

.work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3c3c3c;
}

/* Education styls */
.education {
    padding-right: 5px;
}

.education_position {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.period_education {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 10px;

}

.work_education {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
    padding-right: 10px;
}

.manager_education {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #a6a6a6;
    margin-bottom: 10px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects_list {
    padding: 0px;
    margin-left: 15px;

}

.project_item,
.project_bracket {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project {
    display: flex;
    flex-direction: column;
}

.project,
.project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link {
    margin-left: 10px;
}

/* sidebar styles */
.sidebar {
    background-color: #ffffff;
    width: 370px;
}

/* photo styles */
.photo_box {
    width: 300px;
    height: 300px;
    padding: 10px;
}

.photo {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* sidebar_title */
.sidebar_title {
    color: #040404;
    font-size: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

/* Contacts */
.Contacts,
.education_box {
    margin-left: 40px;

}

.Contacts {
    margin-bottom: 50px;
}

/* contact_type */
.contact_type {
    color: #010101;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}

/* contact_link */
.contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #878787;
}

/* tech_skils_list */
.skills {
    display: flex;
    flex-direction: row;

}

.Tech_skills {
    width: 50%;
}

.tech_skills_list {
    color: #060606;
    padding: 0;
    margin-left: 17px;

}

.tech_skills_item {
    color: #011c45;
}

.tech_skills_text {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* soft skills */
.sidebar_soft {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #0a0a0a;
}

.soft_skills_list {
    color: #0f0f0f;
    padding: 0;
    margin-left: 17px;
}

.soft_skills_item {
    color: #011c45;
}

.soft_skills_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}